<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href="/css/style.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
</head>

<body>
    <div class="container">
        <header>
            <a href="/" ><button>Home</button></a>
            <form id="query">
                <input id="in" type="text" placeholder="Search">
            </form>
            <a onclick="f()"><button>Admin</button></a>         
        </header>

        <div class="cont">
            <div id="cards">
                <% if( !results ){}else{ %>
                <% for(item of results){ %>  
                    <a class="card1" href="/movies/<%=item.imdbID%>">
                        <img class="thumbnail" src="<%=item.Poster%>" onerror="this.onerror=null; this.src='/images/poster.jpg';">
                        <p class="title"><%=item.Title%></p>
                        <p class="year"><%=item.Year%></p>
                    </a>
                <% }} %>
            </div>
        </div>

        <footer>
            <div class="dots">
                <% if( pageno-1>0 ){ %>
                    <a href="/search/<%=query%>/<%=Number(pageno)-1%>"><button>Prev</button></a>
                <% } %>
                <a href="/search/<%=query%>/<%=Number(pageno) + 1%>"><button>Next</button></a>
            </div>
        </footer>
    </div>

</body>

<script>
    document.addEventListener( 'DOMContentLoaded' , () => {
        const form= document.getElementById("query");
        form.addEventListener('submit', (event) => {
            event.preventDefault();
            const input = document.getElementById('in');
            
            const item = input.value.trim();

            const url = `/search/${item}`;
            if (item.length >= 3) {
                window.location.href = `/search/${encodeURIComponent(item)}`;
            }
        })
    });
</script>

</html>